body {
    background-image: linear-gradient(darkorange, yellow);
    height: 1080px;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

/* .circulos {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: linear-gradient(darkviolet,rgb(255, 20, 59));
    position: static;
}
#segundo{
    position: absolute;
    bottom: 15px;
    right: 15px;
}

#retangulo{
    border: 5px solid rgb(255, 0, 55);
    border-radius: 25px;
    width: 400px;
    height: 300px;
    position: relative;
}

#terceiro{
    position:absolute;
    top: 0px;
} */

.retangulo{
    width: 400px;
    height: 100px;
    border: 5px solid darkorange;
    background: linear-gradient(darkviolet,rgb(255, 20, 59));
}

#terceiro{
    background: linear-gradient(rgb(255, 20, 59), orange);
    position: sticky;
    top: 0px;
}