*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul{
    list-style: none;
}
ul li{
    float: left;
    margin: 10px;
}
nav{
    width: 100vw;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: orange;
}
nav img{
    width: 100px;
}
input{
    border: none;
    padding: 15px;
    border-radius: 30px;
    outline: none;
}
#icon{
    display: none;

}
#imgcontent{
    width: 300px;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}
div{
    position: absolute;
    top: 15.4%;
    left: -60%;
    width: 60vw;
    height: 100vh;
    background-color: aqua;
    transition: left 0.5s;
}
div ul
{
    display: flex;
    flex-direction: column;
}
#menu:checked ~ div{
    display: block;
    left: 0;
}

@media (max-width: 700px){
    nav > ul,input{
        display: none;
    }
    #icon{
        display: block;
    }
    section{
        flex-direction: column;
    }
    #imgcontent{
        width: 150px;
    }
}
/* @media (min-width: 701px)
{
    #icon
    {
        display: none;
    }
} */