*{
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(orange,yellow);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

.circulos {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: linear-gradient(darkviolet,rgb(255, 20, 59));
    position: static;
}
#primeiro{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#segundo{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#terceiro{
    position:absolute;
    top: 0px;
    right: 0px;
}

#quarto{
    position: absolute;
    top: 0px;
    left: 0px;
}

#quinto{
    position: absolute;
    top: 45%;
    left: 45%;
}