@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

body{
    background-image:url("../assets/background.png");
    background-repeat:no-repeat;
    background-size: 2200px;
}



p{
    color:tomato;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    background-color: darkred;
    border-radius: 15px;
}

#texto{
    color: darkorange;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    background-color: darkred;
    width: 1500px;
}

.titulo{
    color: hotpink;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    background-color: darkred;
    width: 1000px;
    border-radius: 15px;
}
